* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #222;
}

.navbar-items {
  width: 32px;
  margin: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.nav {
  float: left;
  width: 100%;
  margin-bottom: 8%;
}

.navbar {
  float: right;
  margin-right: 20px;
}

.appbutton {
  width: 20px;
}

a:visited {
  color: #222;
}

a:hover {
  text-decoration: underline;
  color: rgb(121, 121, 121);
}

.buttons {
  width: 250px;
}

.body-items {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

button {
  border: 1px #f2f2f2;
  color: #5f6368;
  height: 36px;
  margin: 5px;
  cursor: pointer;
}

input {
  width: 584px;
  height: 40px;
  border: 1px solid;
  border-radius: 25px;
  border-color: #5f6368;
  padding-left: 20px;
  padding-right: 20px;
}

input:focus {
  outline: none;
}

.body-img {
  display: flex;
  position: absolute;
  margin-left: 64%;
  margin-top: 9px;
  cursor: pointer;
}

.footer-left,
.footer-right {
  display: inline-flex;
}

.footer-left {
  float: left;
  width: 50%;
}

.footer-right {
  float: right;
}

.footer-left a,
.footer-right a {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 36px;
  background-color: #f2f2f2;
}
